// colors

$midnightblue: #002d40; // Midnight Blue
$skyblue: #d9ecf2; // Sky Blue
$pacificblue: #1aa6b7; // Pacific Blue
$coral: #ff414d; // Coral

// fonts 

$header-font: 'Oswald', sans-serif;
$body-font: 'Open Sans', sans-serif;

//animation duration

$animation-duration: 0.6s;