*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #d9ecf2;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

a {
  color: crimson;
  text-decoration: none;
}

a:hover {
  color: red;
}

.intro {
  font-family: 'Oswald', sans-serif;
  color: #1aa6b7;
  text-transform: uppercase;
  font-size: 3.4em;
  display: inline;
}

.header-1 {
  font-family: 'Oswald', sans-serif;
  color: #1aa6b7;
  text-transform: uppercase;
  font-size: 2.6em;
}

.header-2 {
  font-family: 'Oswald', sans-serif;
  color: #ff414d;
  text-transform: uppercase;
  font-size: 2.6em;
  text-align: right;
}


/*DIVS*/

.wrapper-1 {
  width: 100%;
  background-color: #002d40;
  padding: 0;
  margin: 0;
}

.wrapper-1:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
  z-index: -1;
}

.wrapper-2 {
  width: 100%;
  background-color: #d9ecf2;
  padding: 0;
  margin: 0;
}

.wrapper-3 {
  width: 100%;
  background-color: #002d40;
  padding: 0;
  margin: 0;
}

.wrapper-4 {
  width: 100%;
  background-color: #d9ecf2;
  padding: 0;
  margin: 0;
}

.container {
  width: 68%;
  margin: 0 auto;
  padding: 1em;
}


/*OTHER*/

/*----masonry*/

.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }

/*----typed*/

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  font-family: 'Oswald', sans-serif;
  color: #1aa6b7;
  text-transform: uppercase;
  font-size: 3.4em;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
